text {
    fill: white;
}

h3 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

p {
    font-size: 12px;
    line-height: 1.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* ------------------------------------ LUGARES ------------------------------------ */
.canaa {
    fill: blue;
    fill-opacity: .3;
    stroke: blue;
    background: blue;
}
.desertoDePara {
    fill: orangered;
    fill-opacity: .3;
    stroke: orangered;
    background: orangered;
}
.desertoDeZim {
    fill-opacity: .3;
    fill: navy;
    color: navy;
    stroke: navy;
    font-weight: bolder;
    text-decoration: underline;
}
.egito {
    fill-opacity: .3;
    fill: red;
    color: red;
    stroke: red;
    font-weight: bolder;
    text-decoration: underline;
}
.mundo {
    fill: moccasin;
    fill-opacity: 1;
    stroke: moccasin;
}
.neguebe {
    fill: red;
    fill-opacity: .3;
    stroke: red;
    background: red;
}
.rioJordao {
    fill: none;
    stroke: cyan;
    background: cyan;
}
.terraDeHamate {
    fill: darkcyan;
    fill-opacity: .3;
    stroke: darkcyan;
    background: darkcyan;
}
/* -------------- PONTOS -------------- */
.cades {
    fill: darkorange;
    fill-opacity: .5;
    stroke: darkorange;
    background: darkorange;
}
.eshcol {
    fill: purple;
    fill-opacity: .3;
    stroke: purple;
    background: purple;
}
.hamate {
    fill: cyan;
    fill-opacity: .3;
    stroke: cyan;
    background: cyan;
}
.hebrom {
    fill: gray;
    fill-opacity: .3;
    stroke: gray;
    background: gray;
}
.reobe {
    fill: green;
    fill-opacity: .5;
    stroke: green;
    background: green;
}
.zoa {
    fill: brown;
    fill-opacity: .3;
    stroke: brown;
    background: brown;
}
/* -------------- REGIÕES -------------- */

/* ------------------------------------ PESSOAS ------------------------------------ */
.vidaAdao {
    fill: brown;
    background: brown;
    color: white;
}
.vidaSete {
    fill: chocolate;
    background: chocolate;
    color: white;
}
.vidaEnos {
    fill: darkgoldenrod;
    background: darkgoldenrod;
    color: white;
}
.vidaCaina {
    fill: darkorange;
    background: darkorange;
    color: white;
}
.vidaMaalaleel {
    fill: orange;
    background: orange;
    color: white;
}
.vidaJarede {
    fill: goldenrod;
    background: goldenrod;
    color: white;
}
.vidaEnoque {
    fill: tomato;
    background: tomato;
    color: white;
}
.vidaMatusalem {
    fill: sienna;
    background: sienna;
    color: white;
}
.vidaLameque {
    fill: saddlebrown;
    background: saddlebrown;
    color: white;
}
.vidaNoe {
    fill: orangered;
    background: orangered;
    color: white;
}

.triboRuben {
    fill: blue;
    background: blue;
    color: white;
}
.triboSimeao {
    fill: blue;
    background: blue;
    color: white;
}
.triboJuda {
    fill: blue;
    background: blue;
    color: white;
}
.triboIssacar {
    fill: blue;
    background: blue;
    color: white;
}
.triboZebulom {
    fill: blue;
    background: blue;
    color: white;
}
.triboEfraim {
    fill: blue;
    background: blue;
    color: white;
}
.triboManasses {
    fill: blue;
    background: blue;
    color: white;
}
.triboBenjamim {
    fill: blue;
    background: blue;
    color: white;
}
.triboDa {
    fill: blue;
    background: blue;
    color: white;
}
.triboAser {
    fill: blue;
    background: blue;
    color: white;
}
.triboGade {
    fill: blue;
    background: blue;
    color: white;
}
.triboNaftali {
    fill: blue;
    background: blue;
    color: white;
}
.triboLevi {
    fill: blue;
    background: blue;
    color: white;
}