text {
    fill: white;
}

h3 {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

p {
    font-size: 12px;
    line-height: 1.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.vidaAdao {
    fill: brown;
    background: brown;
    color: white;
}
.vidaSete {
    fill: chocolate;
    background: chocolate;
    color: white;
}
.vidaEnos {
    fill: darkgoldenrod;
    background: darkgoldenrod;
    color: white;
}
.vidaCaina {
    fill: darkorange;
    background: darkorange;
    color: white;
}
.vidaMaalaleel {
    fill: orange;
    background: orange;
    color: white;
}
.vidaJarede {
    fill: goldenrod;
    background: goldenrod;
    color: white;
}
.vidaEnoque {
    fill: tomato;
    background: tomato;
    color: white;
}
.vidaMatusalem {
    fill: sienna;
    background: sienna;
    color: white;
}
.vidaLameque {
    fill: saddlebrown;
    background: saddlebrown;
    color: white;
}
.vidaNoe {
    fill: orangered;
    background: orangered;
    color: white;
}

.triboRuben {
    fill: blue;
    background: blue;
    color: white;
}
.triboSimeao {
    fill: blue;
    background: blue;
    color: white;
}
.triboJuda {
    fill: blue;
    background: blue;
    color: white;
}
.triboIssacar {
    fill: blue;
    background: blue;
    color: white;
}
.triboZebulom {
    fill: blue;
    background: blue;
    color: white;
}
.triboEfraim {
    fill: blue;
    background: blue;
    color: white;
}
.triboManasses {
    fill: blue;
    background: blue;
    color: white;
}
.triboBenjamim {
    fill: blue;
    background: blue;
    color: white;
}
.triboDa {
    fill: blue;
    background: blue;
    color: white;
}
.triboAser {
    fill: blue;
    background: blue;
    color: white;
}
.triboGade {
    fill: blue;
    background: blue;
    color: white;
}
.triboNaftali {
    fill: blue;
    background: blue;
    color: white;
}
.triboLevi {
    fill: blue;
    background: blue;
    color: white;
}